*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0 1rem 0.5rem;
}

header{
    /* visibility:hidden; */
    /* text-align: center; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem 0;
    flex-wrap: wrap;
}

.logo{
    height: 80px;
}

.menu{
    cursor: pointer;
    /* position: relative; */
    top:2rem;
    right: 0.5rem;
    height: fit-content;
    color: black;
}

.fa-bars{
    /* margin-right: 10px; */
    /* scale: 2; */
}

.menu:visited{
    color: black;
}

/* .menuList{
    position: absolute;
    right: 1rem;
    top: 4rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem;
    visibility: hidden;
} */

ul li{
    font-size: 2rem;
    list-style: none;
    cursor: pointer;
}

ul{
    position: absolute;
    right: 1vw;
    top: 4rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem;
    /* visibility: hidden; */
    width: 400px;
}

ul li:hover{
    background-color: aliceblue;
}

/* main{
    height: 80vh;
} */

h1{
    margin: 0.5rem;
    font-size: 3rem;
    min-width: 220px;
}

h2{
    font-size: 2rem;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.item{
    /* border: 1px black solid; */
    /* padding: 1rem 1rem 0; */
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    justify-content: s;
    /* align-items: center; */
    /* height: fit-content; */
}

.item:hover{
    /* box-shadow: 0.5rem 0.5rem 1rem black; */
    box-shadow: 0 0 0.5rem black;
    transition: 0.5s;
}

.itemDescription{
    height: 3rem;
    overflow: hidden;
}

.itemImg{
    height: 200px;
    /* width: 200px; */
    /* transition: all 0.1s; */
    /* position: relative; */
    /* left: 100px; */
    align-self: center;
}

/* .itemImg:hover{
    height: 350px;
    transition: all 0.1s;
} */

.buyButton{
    background-color: greenyellow;
    width: fit-content;
    font-size: 2rem;
    /* position: relative;
    left: 80%; */
    padding: 0.5rem;
    border-radius:1rem;
    cursor: pointer;
    transition: 0.5s;
}

.itemPrice{
    font-size: 2rem;
    color: crimson;
}
.itemFooter{
    justify-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

.buyButton:hover{
    background-color:green;
    scale: 1.1;
    transition: 0.1s all;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width:100%;
    box-sizing: border-box;
    z-index: 2;

    display: flex;
    justify-content: space-between;
}

footer p{
    background-color: white;
}

.loadingInfo{
    font-size: 3rem;
}

@media (min-width:600px) and (max-width: 800px) {

    h1{
        font-size: 2rem;
    }

    .logo{
        height: 60px;
    }

    .items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (max-width:600px){

    h1{
        font-size: 1.5rem;
    }

    .logo{
        height: 40px;
    }

    .items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

}